// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.site-header {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9316d+0,c4254f+90,c4254f+98 */
    background: #f9316d; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9316d 0%, #c4254f 90%, #c4254f 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f9316d 0%,#c4254f 90%,#c4254f 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f9316d 0%,#c4254f 90%,#c4254f 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9316d', endColorstr='#c4254f',GradientType=0 ); /* IE6-9 */
}

.site-header h1 {
    color: white;
}